.row
  .col-md-9
    %h1
      活动通
  .col-md-1.navbar-text
    - if current_user
      你好,
      = current_user.login
      = link_to '退出',login_out_path,method: 'delete'
    - if current_admin
      你好,
      = current_admin.login
      = link_to '退出',login_out_path,method: 'delete'
